@import 'mixins';

.contact {
	display: flex;
	justify-content: center;
	padding: 0 100px;

	.container {
		padding: 60px 0;
		width: 1240px;
	}
}

.contact-text {
	h3 {
		position: relative;
		display: inline;
		font-size: 36px;

		&::after {
			@include green-underline;
		}
	}
}

.contact-cards {
	margin-top: 20px;

	.card {
		display: flex;
		align-items: center;
		margin-top: 12px;
		gap: 20px;

		img {
			height: 40px;
			aspect-ratio: 1/1;
		}

		p {
			font-size: 18px;
		}

		a {
			font-size: 18px;
			cursor: pointer;
		}
	}
}
