@import 'mixins';

.projects {
	display: flex;
	justify-content: center;
	padding: 0 100px;

	.container {
		padding: 60px 0;
		width: 1240px;
	}
}

.projects-text {
	h3 {
		position: relative;
		display: inline;
		font-size: 36px;

		&::after {
			@include green-underline;
		}
	}
}

.projects-cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
	width: 100%;

	.card {
		position: relative;
		width: 400px;
		height: 340px;
		border: 2px solid #079a80;
		border-radius: 8px;
		overflow: hidden;

		.preview {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 0.2s;
			z-index: -1;

			p {
				font-size: 48px;
				width: 300px;
				text-align: center;
				-webkit-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}

		.hovered {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 100%;
			height: 100%;
			padding: 0 40px;
			gap: 50px;
			opacity: 0;
			transition: opacity 0.2s;
			z-index: 2;

			.buttons {
				display: flex;
				gap: 6px;
			}

			.website {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 180px;
				height: 50px;
				border-radius: 8px;
				background-color: #035a4a;
				font-size: 20px;
				text-align: center;
				transition: background-color 0.2s;

				&:hover {
					background-color: #079a80;
				}
			}

			.github-short {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 50px;
				width: 50px;
				background-color: #161b22;
				border-radius: 8px;
				transition: background-color 0.2s;

				&:hover {
					background-color: #1c232c;
				}

				img {
					height: 36px;
					aspect-ratio: 1/1;
				}
			}

			.github-full {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 180px;
				height: 50px;
				background-color: #161b22;
				text-align: center;
				border-radius: 8px;
				transition: background-color 0.2s;

				&:hover {
					background-color: #1c232c;
				}

				img {
					height: 36px;
					aspect-ratio: 1/1;
				}

				span {
					font-size: 20px;
					width: 120px;
				}
			}

			p {
				font-size: 26px;
				text-align: center;
			}
		}

		&:hover {
			.hovered {
				opacity: 1;
			}
			.preview {
				opacity: 0;
			}
		}

		&::before {
			display: block;
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.2;
			filter: blur(2px);
			transition: transform 0.3s, filter 0.3s;
			z-index: -1;
		}

		&:nth-of-type(2)::before {
			background-image: url('../images/pricecheck.png');
			background-size: 650px;
			background-position: -120px 0;
			background-repeat: no-repeat;
		}

		&:nth-of-type(3)::before {
			background-image: url('../images/chat.png');
			background-size: 650px;
			background-repeat: no-repeat;
		}

		&:hover::before {
			transform: scale(1.05);
			filter: blur(1px);
		}
	}
}
