@import 'navigation';
@import 'header';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #101017;
	overflow-x: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
