@import 'navigation';
@import 'header';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 80px;
}

body {
  background-color: #101017;
  overflow-x: hidden;
  padding-top: 60px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
p,
span,
a {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
}

a {
  cursor: pointer;
}

main {
  overflow: hidden;
}
