@import 'navigation';
@import 'header';
@import 'about';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #101017;
	overflow-x: hidden;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

h1,
h2,
h3,
p,
span,
a {
	font-family: 'Nunito Sans', sans-serif;
	color: #fff;
}
